.login-page-title{
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: bold;
}

.username-input-wrapper{
    margin-top: 1rem;
}

.password-input-wrapper{
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

.login-page-back-button-container{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6.6rem;
}

.login-page-back-button{
    margin-right: 22rem;
    cursor: pointer;
}