.movie-selected-page-back-button {
    cursor: pointer;
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: left;
}
.movie-selected-page-container {
    display: flex;
    flex-wrap: wrap;
}

.movie-selected-page-content {
    display: flex;
    z-index: 1;
    margin-top: 34rem;
}

.movie-selected-page-left {
    width: 40%;
    overflow: hidden;
    padding: 1rem;
}

.movie-selected-page-right {
    width: 60%;
    overflow: hidden;
    padding: 1rem;
    padding-left: 2rem;
}

.movie-selected-page-heading {
    display: flex;
    justify-content: left;
}

.movie-selected-page-title {
    font-size: 2rem;
    font-weight: 800;
}

.movie-selected-page-year {
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.movie-selected-page-director {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 0.65rem;
    margin-left: 0.3rem;
}
.movie-selected-page-directed-by-text {
    font-size: 1.3rem;
    font-weight: 250;
    margin-top: 0.65rem;
    margin-left: 1rem;
}

.movie-selected-page-description {
    display: flex;
    justify-content: left;
    text-align: left;
    margin-top: 1rem;
    font-size: 1rem;
}

.movie-selected-page-cast {
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    margin-bottom: 0.4rem;
}

.movie-selected-page-reviews {
}

.movie-selected-page-bar-graph-container {
    width: 100%;
    margin-top: 8rem;
    display: flex;
}
.movie-selected-page-bar-graph-bar {
    border-radius: 0.3rem;
    width: 1.5rem;
    background-color: rgb(182, 255, 180);
    margin-right: 0.1rem;
}

.movie-selected-page-bar-graph-one-star {
    display: flex;
    width: 3rem;
    margin-top: -1.2rem;
    margin-left: 1rem;
    flex-wrap: wrap;
}

.movie-selected-page-bar-graph-ten-stars {
    display: flex;
    width: 8rem;
    margin-top: 0.4rem;
    margin-left: 1rem;
    flex-wrap: wrap;
}

.movie-selected-page-bars-container {
    width: 100%;
}

.movie-selected-page-average-rating {
    margin-top: -6.5rem;
    font-size: 2.2rem;
    font-weight: 500;
}

.movie-selected-page-rating-container {
    margin-top: 2rem;
    width: 28.5rem;
}

.movie-selected-page-rating-heading {
    display: flex;
    margin-bottom: 0.3rem;
    justify-content: space-between;
    width: 28.5rem;
}

.movie-selected-page-rating-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.movie-selected-page-total-ratings {
    font-size: 1.3rem;
    font-weight: 600;
}

.movie-selected-page-cast-list {
    display: flex;
    flex-wrap: wrap;
}

.movie-selected-page-cast-item {
    margin-right: 0.4rem;
    background-color: rgb(238, 238, 238);
    border-radius: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0.5rem;
}

.movie-selected-page-image-details {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

.movie-selected-page-icon {
    margin-top: -0.1rem;
    margin-left: 1rem;
    margin-right: 0.2rem;
}

.movie-selected-page-image-container {
    border-radius: 0.5rem;
    overflow: hidden;
}
.movie-selected-page-image {
    max-width: 100%;
}

.movie-selected-page-review-divider {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.movie-selected-page-review-title {
    display: flex;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.movie-selected-review-container {
    margin-left: -1rem;
    margin-bottom: 2rem;
}

.popular-review-description {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.popular-review-stars {
    margin-top: 0.1rem;
}

.movie-selected-page-background-image-container {
    width: 100%;
    margin-top: -1rem;
    height: 35rem;
    margin-left: -1rem;
    margin-right: -1rem;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}
