.search-bar-dropdowns{
    width: 100%;
    display: flex;
}
.movie-search-input{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.movie-title-input{
    width: 80%;
}