.divider {
  margin-left: 1rem;
  margin-right: 1rem;
}

.add-list-button {
  margin-top: 1rem;
}

.add-list-button {
  display: inline-block;
  margin-top: 1rem;
}

.add-list-button:hover {
  color: gray;
  cursor: pointer;
}