.list-item-thumbnail-poster {
  width: 4.05rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 0.2rem;
  position: relative;
}

.list-item-thumbnail {
  width: 8.3rem;
  height: 12.3rem;
  display: inline-grid;
  grid-template-columns: repeat(2, [colstart] 1fr);
  grid-gap: 0.3rem;
  border-radius: 0.1rem;
  justify-self: right;
  align-self: center;
}

.list-item {
  display: flex;
  grid-template-columns: 8.4rem auto;
  grid-gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.list-item-info {
  display: inline-block;
  margin-left: .3rem;
  text-align: left;
}

.list-item-title {
  display: inline-block;
  font-size: 1.5rem;
  text-align: left;
}

.list-item-title:hover {
  cursor: pointer;
  color: grey;
}

.list-item-meta {
  text-align: left;
  margin-top: 0.25ch;
  margin-bottom: 0.25ch;
}

.list-item-summary {
  text-align: left;
}