.list-item-thumbnail-poster {
  width: 2.7rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 0.15rem;
  position: relative;
}

.list-item-thumbnail {
  width: 5.65rem;
  height: 8.25rem;
  display: inline-grid;
  grid-template-columns: repeat(2, [colstart] 1fr);
  grid-gap: 0.20rem;
  border-radius: 0.1rem;
  justify-self: right;
  align-self: center;
}

.list-item {
  display: inline-grid;
  grid-template-columns: 5.6rem auto;
  grid-gap: 1rem;
  width: 95vw;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.list-item-info {
  display: inline-block;
  text-align: left;
}

.list-item-title {
  display: inline-block;
  font-size: 1.5rem;
  text-align: left;
}

.list-item-title:hover {
  cursor: pointer;
  color: grey;
}

.list-item-meta {
  text-align: left;
  margin-top: 0.25ch;
  margin-bottom: 0.25ch;
}

.list-item-summary {
  text-align: left;
}