.back-arrow {
    display: inline-flex;
}

.icon-bar {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    display: flex;
}

.list-selected-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
    text-align: left;
}

.list-selected-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    width: 100%;
}
.list-selected-user {
    width: 100%;
}
.movie-poster {
    width: 20rem !important;
    height: 30rem !important;
    object-fit: cover;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.movie-list-posters {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
