.input-wrapper {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.back-arrow {
  display: inline-flex;
}

.back-arrow :hover {
  cursor: pointer;
  color: grey;
}

.icon-bar {
  width: 95vw;
  margin: auto;
  margin-top: 1rem;
  display:flex;
}

.title {
  font-size: 2rem;
}